

.jumbotron > h1 {
  font-family: Arial, Helvetica, sans-serif;
}

#newbike {
  border-radius: 5px;
}

#color-override {
  color: #a16738;
}

#lefthead {
  background-color: #a16738;
  color: white;
  text-align: center;
  font-size: 1.2em;
}

#eatbutton,
#returnbutton {
  float: right;
}

#righthead {
  background-color: #a16738;
  color: white;

  font-size: 1.2em;
}
